body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.image-size{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    padding: 60px 0;
    margin: 0;

}

.title::after {
    content: "";
    width: 80px;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    top: 120px;
    left: 560px;
}
.title::before {
    content: "";
    width: 80px;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    top: 124px;
    left: 573px;
}

.header-attachment {
    background:  url("../images/header-layer.png") no-repeat fixed;
    background-size:cover;
    height: 1012px;
}

.nav-bar {
    background-color: rgba(63, 53, 53, 0.2);
}

.logo-link {
    text-decoration: none;
    display: flex;
}

.logo-main-square {
    background-color: #18cfab;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 60px;
    color: white;
    font-size: 30px;

}
.searching-icon{
    padding-left: 10px;
    cursor: grab;
}

.nav-bar-wrapper{
    display: flex;
}
.nav-bar-links {
    font-size: 14px;
    font-weight: 600;
    color: #b8b8b8;
    position: relative;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-bar-links:hover {
    color: #18CFAB;
}
.nav-bar-links:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #18CFAB;
    top:70px;


}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.the-word {
    padding-left: 5px;
    font-size: 32px;
    color: white;
    margin: auto;
}

.ham-word {
    color: #18cfab;
    font-size: 32px;
    font-weight: 800;
    margin: auto;
}

.text-container {
    text-align: center;
}

.header-text-row1 {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    padding-bottom: 25px;
    color: #ffffff;
    text-transform: uppercase;
}

.wordpress-the-words {
    color: #18cfab;
}

.header-text-row2 {
    font-size: 70px;
    padding-bottom: 5px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.header-text-row3 {
    font-size: 30px;
    color: #9b9b9b;
}

.button-container {
    text-align: center;
    padding: 70px;


}

.header-content {
    padding: 180px 0;
}

.common-buttons-properties {
    width: 165px;
    height: 60px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border-top:4px solid #ffffff;
    text-transform: uppercase;
}
.common-buttons-properties:hover{
    cursor: grab;
    color: #18cfab;
    background-color: black;
}
.purchase-button {
    background-color: #00cbf6;
    margin-left: 20px;
}

.explore-button {
    background-color: #18cfab;
}

.chess-section {
    height: 375px;
    display: flex;
    flex-basis: 25%;

}
.button-section{
    text-align: center;
}
.everything-button{
    margin: 100px 0;

}
.section-width {
    flex-basis: 25%;
}
.chess-inner-wrapper{
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    align-items: center;
}
.section1-3 {
    align-items: center;
    background-color: #1c2a33;
    color:#18cfab;
    justify-content: center;
    display: flex;
    border-top: 6px solid #18cfab;
    font-size: 20px;
    text-transform: uppercase;
}

.section2-4 {
    background-color: #18cfab;
    border-top: 6px solid #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.tabs{
    margin: 82px 0;
}
.tabs-menu {
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    display: flex;
}
.tabs-menu-item:hover{
    cursor: grab;
}
.tabs-menu-item{
    width: 191px;
    height: 70px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
}
.tabs-menu-item.active {
    background-color: #18cfab;
    color:white;
    position: relative;
}
.tabs-menu-item.active::after {
    content: "";
    border-right: 20px solid transparent;
    position: absolute;
    border-top: 35px solid #18cfab;
    top: 70%;
    border-left: 20px solid transparent;
}
.active{
    display: flex;
}

.tabs-content-item {
    display: none;
}
.active-tabs{
    display: flex;
}
.content-tabs-text {
    font-size: 14px;
    color: #a4a4a4;
    padding: 12px;
    margin: 0;
}

.tabs-image-size {
    width: 190px;
    height: 140px;
}
.our-amazing-work {
    background: #f8fcfe;
}

.everything-is-ready{
    background:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/second-section-background.png") no-repeat left fixed ;
    background-size:cover;

    display: flex;
    align-items: center;
    height: 476px;
}
.everything-is-ready-text-row1{
    font-size: 40px;
    font-weight: 700;
    color: #18cfab;
    text-align: center;
    text-transform: uppercase;
}
.everything-is-ready-text-row2{
    text-align: center;
    font-size: 16px;
    color:#bebdbc;
}
.filter{
    padding: 50px 0;
}
.filter-menu{
    display: flex;
    justify-content: center;

}
.filter-menu-item{
    display: inline-block;
    padding: 20px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #bdbdbd;
    position: relative;
    list-style-type: none;
}

.filter-menu-item:hover {
    color:#18CFAB;
    cursor: grab;
}
.filter-menu-item.filter-activate::after {
    content: "";
    border-bottom: 2px solid #18cfab;
    position: absolute;
    right: 0;
    top:-3px;
    height: 2px;
    width: 100%;

}
.appearing-block{
    border-top: 3px solid #18CFAB;
    background-color: blue;
    opacity: 0;
    height: 203px;
    width: 284px;
    position: absolute;
}
.filter-content-block:hover .appearing-block {
    display: block;
    transition: 1s;
    opacity: 1;
    position: absolute;
    background-color: white;

}
.show-more-button{
    background-color: #00cbf6;
}
.appearing-block-icons{
    padding-top: 30px;
    display: flex;
    justify-content: center;

}
.image-appearing-block1{
    border: 1px solid #18cfab;
    width: 42px;
    color: #18cfab;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-appearing-block1:hover{
    color: white;
    background-color: #18cfab;
}
.image-appearing-block2:hover{
    color: #18cfab;
    background-color: white;
}
.image-appearing-block2{
    margin-left: 10px;
    border: 1px solid #18cfab;
    width: 42px;
    color: white;
    height: 42px;
    border-radius: 50%;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-description{
    color: #18cfab;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}
.second-description{
    font-size: 20px;
    color: #a7a8a9;
    margin: 3px;
}
.appearing-block-description{
    text-align: center;
    padding-top: 30px;

}
.braking-news-images-container{
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    justify-content: space-between;
    padding: 50px 0;
}
.filter-content{
    display: flex;
    flex-wrap: wrap;


}
.active{
    display: flex;
}
.letter{
    padding: 0 10px;
}
.clickable-pictures-container{
    background-color: #f8fcfe;
    position: relative;
    text-align: center;
    color: #838484;
    text-decoration: none;
}
.top-right-square{
    display: grid;
    align-items: center;
    width: 68px;
    height: 66px;
    background-color:#203e38;
    position: absolute;
    right: 0;
    color: #ffffff;
}
.clickable-container-text-wrapper{
    display: flex;
    padding: 5px;
    flex-direction: column;
}
.clickable-container-text{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.clickable-pictures-container:hover .top-right-square  {
    background-color: #18cfab;
}
.clickable-pictures-container:hover .clickable-container-text{
    color: #18cfab;
}
.calendar{
    margin: 0;
}
.slick{
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/feedback-layer.png") no-repeat fixed;
    background-size: cover;
    height: 800px;
    text-align: center;
}
.row{
    margin-top: 70px;

}
.circle-image{
    width: 140px;
    height: 140px;
    border: 3px solid #18CFAB;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 4px 10px rgba(24,201,171,0.4);
    margin: 10px auto;

}

.slick-slider-nav-properties{
    width: 60px;
    margin-right: 96px;
    border-radius: 50%;
    box-sizing: border-box;

}
.slider-nav-wrapper{
    margin: 0 auto;
    padding-top: 50px;
    width: 544px;
}
.form{
    margin: 0 auto;

}
.slick-image{
    width: 150px;
    height: 150px;
}
.slick-title{
    color: white;
}
footer{
    background-color: #22353f;
}

.footer-description{
    padding: 46px 0;
    margin: 0 auto;
    color: #9b9e9f;
    font-size: 14px;
    text-align: center;
}
.the-Ham-footer{
    color: #18CFAB;
    font-weight: 800;
}
.character-name{
    color: #18CFAB;
    font-size: 22px;
    font-weight: 700;
}
.character-name-description{
    font-size: 16px;
    color: #8a9295;
}

.image-description{
    font-size: 16px;
    color: #8a9295;
}
fa, .fas {
    font-weight: 900;
    margin-left: -14px;
    margin-right: -3px;
}
.prev,
.next {
    position: absolute;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 31px;
    top: 34%;
    z-index: 1;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    cursor: pointer;
    transition: 1s;
}

.slick-slide:focus {
    outline: none;
}

.prev:hover, .next:hover {
    background: #18Cfab;
    color: #ffffff;
    border-color: #18Cfab;
}
.appear{
    margin: 0;
}
.fz-fa {
    font-size: 18px;
}

.prev {
    left: -25px;
}

.next {
    right: -25px;
}
.slider-image-size{
    width: 100%;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #18CFAB;
}



#escapingBallG{
    position:relative;
    width:125px;
    height:43px;
    margin:auto;
}
.loading{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
.escapingBallG-none{
    display: none;
}
.escapingBallG{
    background-color:rgb(0,0,0);
    position:absolute;
    top:0;
    left:0;
    width:43px;
    height:43px;
    border-radius:21px;

    -webkit-border-radius:21px;
    -moz-border-radius:21px;
    animation-name:bounce_escapingBallG;
    -o-animation-name:bounce_escapingBallG;
    -ms-animation-name:bounce_escapingBallG;
    -webkit-animation-name:bounce_escapingBallG;
    -moz-animation-name:bounce_escapingBallG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
    animation-delay:0s;
    -o-animation-delay:0s;
    -ms-animation-delay:0s;
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    transform:scale(0.5, 1);
    -o-transform:scale(0.5, 1);
    -ms-transform:scale(0.5, 1);
    -webkit-transform:scale(0.5, 1);
    -moz-transform:scale(0.5, 1);
}



@keyframes bounce_escapingBallG{
    0%{
        left:0px;
        transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        transform:scale(0.5, 1);
    }
}

@-o-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -o-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -o-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -o-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }
}

@-ms-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -ms-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -ms-transform:scale(0.5, 1);
    }


    75%{
        left:41px;
        transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        transform:scale(0.5, 1);
    }
}

@-o-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }
    75%{
        left:41px;
        -ms-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }
}

@-webkit-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -webkit-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -webkit-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -webkit-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }
}

@-moz-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -moz-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -moz-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -moz-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }
}
.slick-slide.slick-active.slick-current > .slider-image-size{
   margin-bottom: 40px;
    border: #18CFAB 3px solid;
}
